<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
</head>

<body class="flex-col min-h-screen">
  <nav class="w-full fixed">
    <ul class="flex-wrap grid-rows-3">
      <li class="inline m-0 mr-0.5"><a href="/">Home</a></li>
      <li class="inline m-0 mr-0.5"><a href="/dashboard">Dashboard</a></li>
      <li class="inline m-0 mr-0.5"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>
  <header>
    <h1><a href="/dashboard">Your Dashboard</a></h1>
  </header class="p-1.5">

  <main class="auto-cols-auto">
    {{{body}}}
  </main>

  <footer class="inline-block p-1 mb-0.5">
    <a href="/dashboard/new">➕ New Post</a>
  </footer>
</body>

<script src="/js/logout.js"></script>

</html>