<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog Challenge</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-green-600 flex-wrap auto-cols-auto min-h-screen">
<div class="grid">
  <nav class="border-solid pb-4 bg-green-200 border-black rounded border-4 w-full relative">
    <ul class="flex-wrap pt-4 grid-rows-4">
      <li class="inline mb-2 mr-2 p-2"><a href="/">Home</a></li>
      <li class="inline mb-2 mr-2 p-2"><a href="/dashboard">Dashboard</a></li>
      <li class="inline mb-2 mr-2 p-2"><a href="/login">Login</a></li>
      <li class="inline mb-2 mr-2 p-2"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>
  <header class=" mt-4 z-0 absolue">
    <h1 class="shadow-lg inline-flex ml-4 bg-green-200 p-2 border-solid border-black rounded text-xl border-4"><a href="/">The Tech Blog</a></h1>
  </header>
</div>
  <main class="auto-cols-auto content-evenly">
    {{{body}}}
  </main>

  <footer class="ml-4 inline-block p-1 mt-64 relative">
    Tech Blog Challenge
  </footer>
</body>

</html>
<script src="/js/logout.js"></script>
