<div class="mb-0.5 mt-10 rounded border-4 p-4 border-solid border-black bg-blue-400 inline-block text-center ml-64">
  {{#each posts}}
    <a class="mb-0.5 p-10 flex-row bg-green-200 justify-between inline-block border-solid border-black border-2 rounded m-2" href="/dashboard/edit/{{id}}">
      <span>{{title}}</span>
      <span>{{format_date createdAt}}</span>
    </a>
  {{/each}}
</div>