<div class="posts p-1">
  {{#each posts}}
    <a class="mb-0.5 p-1 flex-row justify-between" href="/dashboard/edit/{{id}}">
      <span>{{title}}</span>
      <span>{{format_date createdAt}}</span>
    </a>
  {{/each}}
</div>