<div class="mb-0.5 mt-10 rounded border-4 p-4 border-solid border-black bg-blue-400 inline-block text-center ml-64">
    <h2 class="p-0.5 rounded border-solid border-black border-4 bg-green-200">Login</h2>
  <form id="login-form" class="p-1 pt-10">
    <div>
      <label for="username-input-login">Username</label>
      <input type="text" id="username-input-login" />
    </div>
    <div class="p-4">
      <label for="password-input-login" class="form-label">Password</label>
      <input type="password" id="password-input-login" />
    </div>
    <button type="submit" id="login-btn" class="btn border-solid border-2 border-black rounded p-1 bg-green-200">Log in!</button>
    <a type="button"  class="text-blue-800" href="/signup">Sign up instead</a>
  </form>
</div>

<script src="/js/login.js"></script>