<div class="mb-0.5 mt-10 rounded border-4 p-4 border-solid border-black bg-blue-400 inline-block text-center ml-64">
  <div class="p-0.5 rounded border-solid border-black border-4 bg-green-200">
    <h2>Sign Up</h2>
  </div>
  <div id="signup" role="tabpanel">
    <form id="signup-form" class="p-1 pt-10">
      <div>
        <label for="username-input-signup">Username</label>
        <input type="text" id="username-input-signup" />
      </div>
      <div class="p-4">
        <label for="password-input-signup">Password</label>
        <input type="password" id="password-input-signup" />
      </div>
      <button type="submit" id="signup-btn" class="btn border-solid border-2 border-black rounded p-1 bg-green-200" >Sign up!</button>
      <a href="/login" class="text-blue-800">Login instead</a>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>